.item {
    width: 40px;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    background-color: bisque;
    border-radius: 4px;
    font-size: x-large;
    margin: 4px;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    border-radius: 100px;
    border: 0.5px dashed black;
}

.custom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 100px;
    margin: auto;
    width: 600px;
    height: 100px;
}

.alignIt {
    text-align: center;
    justify-content: center;
}